<% if user_signed_in? %>

  <div class="d-flex flex-row">
    <div class="card m-5" style="width: 13rem; height: 9rem">
      <div class="card-body">
        <div class="d-flex" style= "width:100%">
          <h1 style= "width:100%"><%= @employees.count %></h1>
          <div><%= image_tag "employees.png"%></div>
        </div>
        <h5 class="card-text mt-3" style= "text-align:center">Employees</h5>
      </div>
    </div>

    <div class="card m-5" style="width: 13rem; height: 9rem">
      <div class="card-body">
        <div class="d-flex" style= "width:100%">
          <h1 style= "width:100%"><%= @departments.count %></h1>
          <div><%= image_tag "department.png"%></div>
        </div>
        <h5 class="card-text mt-3" style= "text-align:center">Departments</h5>
      </div>
    </div>
  </div>
 
<% else %>
  <p>Register to get started.</p>
<% end %>
